# Exclude development files from export
/crea-api/.gitignore export-ignore
/crea-api/.gitattributes export-ignore
/crea-api/.github export-ignore
/crea-api/node_modules export-ignore
/crea-api/tests export-ignore
/crea-api/.git export-ignore
/crea-api/.vscode export-ignore
/crea-api/webpack.config.js export-ignore
/crea-api/composer.json export-ignore
/crea-api/composer.lock export-ignore
/crea-api/package.json export-ignore
/crea-api/package-lock.json export-ignore
/crea-api/phpcs.xml export-ignore
/crea-api/README.md export-ignore
